[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
stripe = "*"
django-cors-headers = "*"
drf-yasg = "*"
whitenoise = "*"
pillow = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "*"
